 h2.flashy {
   text-align: center;
   color: coral;
 }

p.best {
  text-align: center;
  color: coral;
}

h1.head {
  text-align: center;
  text-decoration: underline;
}

img.intro {
  border: 2px solid red;
}
